<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light slack-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button slack-button" menu-toggle="left" ng-click="preventFocus()"></button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-search"></button>
        <button class="button button-icon button-clear ion-ios-more" menu-toggle="right"></button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>


  <ion-side-menu watch-menu side="left" class="slack-menu-left" width="320">
    <ion-header-bar class="item-input-inset">
      <img src="img/slack.png" alt="">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Jump to conversation...">
      </label>
    </ion-header-bar>
    <ion-content class="royal-bg">

      <ion-list>
        <ion-item ion-affix class="item-divider">Channels</ion-item>
        <ion-item menu-close class="item-channel active"><i>#</i> general</ion-item>
        <ion-item menu-close class="item-channel"><i>#</i> random</ion-item>
        <ion-item menu-close class="item-channel"><i>#</i> otherchannel</ion-item>
      </ion-list>

      <ion-list>
        <ion-item ion-affix class="item-divider">Private channels</ion-item>
        <ion-item menu-close class="item-channel"><i class="icon ion-locked"></i> office</ion-item>
        <ion-item menu-close class="item-channel"><i class="icon ion-unlocked"></i> office open</ion-item>
      </ion-list>

      <ion-list>
        <ion-item ion-affix class="item-divider">Direct menssages</ion-item>
        <ion-item menu-close class="item-channel"><i class="icon icon-status-on ion-heart"></i> slackbot</ion-item>
        <ion-item menu-close class="item-channel"><i class="icon icon-status-off ion-android-radio-button-off"></i> Luis Bahamonde</ion-item>
        <ion-item menu-close class="item-channel"><i class="icon icon-status-off ion-android-radio-button-off"></i> Laura Cox</ion-item>
        <ion-item menu-close class="item-channel"><i class="icon icon-status-off ion-android-radio-button-off"></i> Sergio Crespo</ion-item>
      </ion-list>

    </ion-content>
  </ion-side-menu>


  <ion-side-menu watch-menu side="right" width="220">

    <ion-content class="dark-bg">
      <ion-list>

      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
